[user]
	name = Andrew Bradford
[color]
	ui = 1

[sendemail]
	smtpencryption = tls
	from = andrew@bradfordembedded.com
	smtpserver = mail.messagingengine.com
	smtpserverport = 587
	smtpuser = bradfa@fastmail.fm

[include]
	path = ~/.gitconfig-emailaddress
