[user]
	name = Andrew Bradford
[color]
	ui = 1

[sendemail]
	smtpencryption = tls
	from = Andrew Bradford <andrew.bradford@konsulko.com>
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpuser = andrew.bradford@konsulko.com

[include]
	path = ~/.gitconfig-emailaddress
[core]
	excludesfile = ~/.gitignore
	hooksPath = ~/.git-hooks
[diff]
	submodule = log
