*background:         #111111
*foreground:         #f5f2df
!black                      BLACK
*color0 :            #0b0d22
*color8 :            #252525
!red                        RED
*color1 :            #ff491f
*color9 :            #ff5555
!green                      GREEN
*color2 :            #00aa00
*color10 :           #55ff55
!yellow                     YELLOW
*color3 :            #d1781f
*color11 :           #ffff55
!blue                       BLUE
*color4 :            #8686ff
*color12 :           #7979f6
!magenta                    MAGENTA
*color5 :            #aa00aa
*color13 :           #ff55ff
!cyan                       CYAN
*color6 :            #00aaaa
*color14 :           #55ffff
!white                      WHITE
*color7 :            #aaaaaa
*color15 :           #FFFFFF
