*background: #000000
*foreground: #eeeeee
!black           BLACK
XTerm*color0: #000000
XTerm*color8:  #282828
!red             RED
XTerm*color1: #ff0000
XTerm*color9:  #f34b4b
!green           GREEN
XTerm*color2: #00cd00
XTerm*color10: #00ff00
!yellow          YELLOW
XTerm*color3: #ffef64
XTerm*color11: #ffff00
!blue            BLUE
XTerm*color4: #4772ff
XTerm*color12: #63b4ff
!magenta         MAGENTA
XTerm*color5: #cd00cd
XTerm*color13: #ff00ff
!cyan            CYAN
XTerm*color6: #01c2cf
XTerm*color14: #47e1ff
!white           WHITE
XTerm*color7: #e5e5e5
XTerm*color15: #ffffff

XTerm*font: monospace-12
XTerm*saveLines: 10000
XTerm*termName: xterm-color
XTerm*scrollTtyOutput: false
XTerm*scrollKey: true

Mrxvt.scrollTtyKeypress: true
Mrxvt.scrollTtyOutputInhibit: true
Mrxvt.saveLines: 65535
Mrxvt.autohideTabbar: true
Mrxvt.showMenu: false
Mrxvt.font: terminus-12
Mrxvt.cursorBlink: false
Mrxvt.smoothResize: true

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: none
Xft.hinting: true
Xft.hintstyle: hintslight
